# Remove Backup files
*~


# Exclude all archives and directories
/*


# Accept some directories
!/.bash
!/.tmux


# Accept recursive directories
!/.config
!/.local

/.config/*
/.local/*

!/.config/rofi

!/.config/bspwm

!/.config/plank
/.config/plank/*
!/.config/plank/bspwm_plank
/.config/plank/bspwm_plank/*
!/.config/plank/bspwm_plank/update.sh

!/.config/alacritty
!/.config/nvim
!/.config/polybar
!/.config/sxhkd

!/.local/bin
!/.local/lib

.local/bin/*

!/.local/bin/bspc-layout
!/.local/bin/chdesk
!/.local/bin/close-all-nodes
!/.local/bin/show-all-nodes

/.local/lib/python3.8


# Accept some archives
!/.bashrc
!/.tmux.conf
!/.vimrc
!/.gitignore
!/.npmrc
!/.yarnrc.yml
!/.profile
!/.config/rofi/config.rasi
!/.config/compton.conf
