# Remove Backup files
*~


# Exclude all archives and directories
/*


# Accept some directories
!/.bash
!/.tmux
!/.backup


# Accept recursive directories
!/.config
!/.local

/.config/*
/.local/*

!/.config/rofi

!/.config/bspwm

!/.config/plank
/.config/plank/*
!/.config/plank/bspwm_plank
/.config/plank/bspwm_plank/*
!/.config/plank/bspwm_plank/update.sh

!/.config/alacritty
!/.config/nvim
!/.config/polybar
!/.config/sxhkd

!/.local/bin
!/.local/lib
!/.local/share

.local/bin/*

!/.local/bin/bspc-layout
!/.local/bin/chdesk
!/.local/bin/close-all-nodes
!/.local/bin/show-all-nodes
!/.local/bin/kill-all-nodes
!/.local/bin/kdeconnect-close
!/.local/bin/set-theme

.local/share/*
!/.local/share/applications/
.local/share/applications/*
!/.local/share/applications/close-kde-connect.desktop

/.local/lib/python3.8


# Zorin os theme modified to bspwm
!/.themes
/.themes/*
!/.themes/BspwmBlue-Light


# Plank Themes
!/.local/share/plank
/.local/share/plank/*
!/.local/share/plank/themes


# Screen locker (Bspwm)
/.config/bspwm/screenlocker/cache
/.config/bspwm/screenlocker/wallpaper.png


# Accept some archives
!/.bashrc
!/.tmux.conf
!/.vimrc
!/.gitignore
!/.npmrc
!/.yarnrc.yml
!/.profile
!/.config/rofi/config.rasi
!/.config/compton.conf


# Gitattributes
!/.gitattributes
